.rfbp {
	
}
.rfbp-post {
	padding-top: 0px; padding-bottom: 15px; margin-top: 0px; margin-bottom: 15px; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid;
}
.rfbp-post-link-wrap {
	padding-bottom: 0px; margin-bottom: 0px !important;
}
.rfbp-post-link {
	background: none; margin: 0px; padding: 1px 0px; border: 0px currentColor; border-image: none; height: 15px; color: rgb(59, 89, 152); line-height: 15px !important; font-size: 11px; font-weight: normal !important; text-decoration: none !important; display: block; cursor: pointer;
}
.rfbp-post-link:hover {
	color: rgb(59, 89, 152); text-decoration: none !important;
}
.rfbp-link-wrap {
	background: rgb(246, 247, 249); margin: 1em 0px; padding: 0px !important; border: 1px solid rgb(211, 218, 232) !important; border-image: none !important; color: gray; overflow: hidden; font-size: 11px; font-weight: normal !important; display: block; max-width: 100%; text-shadow: none !important;
}
a.rfbp-link {
	color: gray; font-weight: normal; text-decoration: none !important; display: block;
}
a.rfbp-link:hover {
	text-decoration: none;
}
span.rfbp-link-image-wrap {
	margin: 0px; padding: 0px; width: 114px; line-height: 0; vertical-align: middle; border-right-color: rgb(211, 218, 232); border-right-width: 1px; border-right-style: solid; display: table-cell;
}
img.rfbp-link-image {
	margin: 0px !important; padding: 0px !important; border-radius: 0px !important; border: 0px currentColor !important; border-image: none !important; width: 114px; height: auto; display: inline; box-shadow: none !important;
}
span.rfbp-link-text-wrap {
	padding: 8px; color: gray; display: table-cell;
}
span.rfbp-link-text-wrap span {
	line-height: 14px; display: block;
}
span.rfbp-link-name {
	color: rgb(59, 89, 152); font-weight: bold;
}
span.rfbp-link-caption {
	
}
span.rfbp-link-description {
	margin-top: 12px;
}
.rfbp-timestamp {
	color: rgb(153, 153, 153);
}
.rfbp-timestamp:hover {
	color: rgb(153, 153, 153); font-weight: normal; text-decoration: underline;
}
.rfbp-like-count {
	background: url("../img/fb-sprite.png") no-repeat 0px 0px; color: rgb(59, 89, 152); padding-left: 18px; margin-right: 3px; display: inline-block;
}
.rfbp-comment-count {
	background: url("../img/fb-sprite.png") no-repeat 0px 0px; color: rgb(59, 89, 152); padding-left: 18px; margin-right: 3px; display: inline-block;
}
.rfbp-like-count {
	background-position: 0px -52px;
}
.rfbp-comment-count {
	background-position: 0px -18px;
}
.rfbp-like-count > span {
	display: none;
}
.rfbp-comment-count > span {
	display: none;
}
.rfbp-image-wrap {
	margin: 1em 0px; display: block; max-width: 100%;
}
.rfbp-image-link {
	margin: 0px; padding: 0px; line-height: 0; float: none; display: inline-block; max-width: 100%;
}
.rfbp-image {
	margin: 0px; padding: 0px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
.rfbp-text {
	padding-top: 0px; margin-top: 0px !important;
}
.rfbp-text a {
	-ms-word-break: break-all;
}
.rfbp-widget {
	
}
