#divBottomRight {
	position: absolute; z-index: 10000; min-width: 142px;
}
#divBottomRight img {
	margin-left: 1px;
}
#acurax_si_simple img {
	margin-left: 1px;
}
#short_code_si_icon img {
	margin-left: 1px;
}
#divBottomRight img:hover {
	opacity: 0.8;
}
#acurax_si_simple img:hover {
	opacity: 0.8;
}
#short_code_si_icon img:hover {
	opacity: 0.8;
}
