@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lato);
body {
	background-color: #f7f7f7;	
	font-size: 15px;
}
#displaymessage {
	color: rgb(255, 0, 0);
	padding-bottom: 10px;
	text-align: center;
}
.table-width {
	width: 100%;
	background: #f2f2f2;
	border: medium none;
	color: #5d5d5d;
	padding: 7px 10px !important;
	border: 1px solid #d3d3d3;	
}
.Label-book {
	font-family: 'Roboto' , sans-serif !important;
	background: #000;
	color: #FFF;
	border: none;
	width: 100%;
	padding: 10px !important;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	font-weight: 500;
    line-height: 1.1;
    font-size: 22px !important;
}
#btn_appointment{
	margin-top: 10px;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          width: 100%;
}

.panel-default {
  border-color: #ddd;
  overflow: hidden;
  width: 60%;
}

fieldset {
    border: 0 none !important;
    margin: 0;
    min-width: 0;
    padding: 0;
}
*:before, *:after {
    box-sizing: border-box;
}
.form-group {
    margin-bottom: 15px;
}