.wpgmza_map {
	margin: 5px !important; border: 0px currentColor; border-image: none;
}
#wpgmza_map img {
	border: currentColor !important; border-image: none !important; background-color: transparent !important;
}
.wpgmza_map img {
	margin: 0px !important; padding: 0px !important; border: currentColor !important; border-image: none !important; background-color: transparent !important;
}
#wpgmaps_directions_edit {
	padding-top: 20px;
}
.wpgmza_markerbox {
	color: rgb(0, 0, 0) !important;
}
.wpgmza_markerbox a {
	color: rgb(25, 130, 209) !important;
}
.wpgmaps_mlist_table {
	width: 42px;
}
.wpgmaps_mlist_marker {
	padding: 0px !important; width: 32px; height: 32px; vertical-align: top;
}
.wpgmaps_mlist_info {
	padding: 0px !important; text-align: left;
}
.wpgmaps_mlist_row {
	cursor: pointer;
}
.wpgmaps_mlist_row:hover {
	background-color: rgb(238, 238, 238);
}
.wpgmaps_directions_outer_div {
	padding-top: 30px; padding-bottom: 5px;
}
.wpgmaps_directions_outer_div table {
	margin-bottom: 0px !important;
}
wpgmza_marker_list_class {
	margin-bottom: 0px !important;
}
.wpgmza_map h2 {
	clear: both;
}
.wpgmaps_user_form {
	clear: both;
}
