.linkedin blockquote {
	clear: none !important;
}
.linkedin blockquote .recommendation {
	width: 100%; overflow: hidden;
}
.linkedin blockquote .recommender {
	color: rgb(153, 153, 153); font-size: smaller;
}
.linkedin blockquote .recommender::before {
	content: "\2014 \00A0";
}
.linkedin blockquote::before {
	content: "";
}
.linkedin blockquote::after {
	content: "";
}
.linkedin .scrollable {
	overflow: hidden; margin-bottom: 10px; position: relative;
}
.linkedin .scrollable .items {
	width: 20000em; position: absolute;
}
.linkedin .scrollable .items blockquote {
	float: left; box-sizing: border-box; -moz-box-sizing: border-box;
}
.linkedin .profile .section {
	margin-bottom: 20px;
}
.linkedin .profile .section .heading {
	color: rgb(153, 153, 153); text-transform: uppercase; font-weight: bold; margin-bottom: 10px; border-bottom-color: rgb(224, 224, 224); border-bottom-width: 2px; border-bottom-style: solid;
}
.linkedin .profile .position {
	margin-bottom: 20px;
}
.linkedin .profile .project {
	margin-bottom: 20px;
}
.linkedin .profile .education {
	margin-bottom: 20px;
}
.linkedin .profile .volunteer {
	margin-bottom: 20px;
}
.linkedin .profile #cartouche .location {
	color: rgb(153, 153, 153); font-size: smaller;
}
.linkedin .profile .position .industry {
	color: rgb(153, 153, 153); font-size: smaller;
}
.linkedin .profile .volunteer .cause {
	color: rgb(153, 153, 153); font-size: smaller;
}
.linkedin .profile .education .degree {
	color: rgb(153, 153, 153); font-size: smaller;
}
.linkedin .profile .position .company {
	font-weight: bolder;
}
.linkedin .profile .volunteer .organization {
	font-weight: bolder;
}
.linkedin .profile .project-members img {
	margin: 0px 5px 5px 0px; border: currentColor; border-image: none; width: 35px;
}
.linkedin .profile .project-members .members-count {
	color: rgb(153, 153, 153); font-size: smaller;
}
.linkedin .profile .language .proficiency {
	color: rgb(153, 153, 153); font-size: smaller;
}
.linkedin .profile .language .proficiency::before {
	content: " \2014 \00A0";
}
.linkedin .profile #cartouche {
	padding: 15px 15px 15px 110px; min-height: 80px; background-color: rgb(240, 240, 240);
}
.linkedin .profile #cartouche .picture {
	width: 80px; height: auto; margin-left: -95px; float: left; display: block;
}
.linkedin .profile #cartouche .name {
	font-size: x-large; font-weight: bold;
}
.linkedin .profile #cartouche .headline {
	font-size: larger; font-weight: bolder;
}
.linkedin .card #cartouche .name {
	font-size: larger; font-weight: bolder;
}
.linkedin .card #cartouche .headline {
	font-weight: bolder;
}
