/*
@import url( http://fonts.googleapis.com/css?family=Roboto );
@import url( http://fonts.googleapis.com/css?family=Lato );
*/
body {
	font-size: 15px; background-color: rgb(247, 247, 247);
}
#displaymessage {
	text-align: center; color: rgb(255, 0, 0); padding-bottom: 10px;
}
.table-width {
	background: rgb(242, 242, 242); padding: 7px 10px !important; border: 1px solid rgb(211, 211, 211); border-image: none; width: 100%; color: rgb(93, 93, 93);
}
.Label-book {
	background: rgb(0, 0, 0); margin: 0; padding: 10px !important; border: currentColor; border-image: none; width: 100%; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 1.1; font-family: "Roboto" , sans-serif !important; font-size: 22px !important; font-weight: 500;
}
#btn_appointment {
	margin-top: 10px;
}
.panel {
	border-radius: 4px; border: 1px solid transparent; border-image: none; width: 100%; margin-bottom: 20px; box-shadow: 0 1px 1px rgba(0,0,0,0.05); background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-default {
	border-color: rgb(221, 221, 221); width: 60%; overflow: hidden;
}
fieldset {
	margin: 0; padding: 0; border: 0 currentColor !important; border-image: none !important; min-width: 0;
}
.form-group {
	margin-bottom: 15px;
}


/* ##################################### only font-awesome items we need ### */
@font-face {
	font-family: FontAwesome;
	src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff?v=4.3.0) format("woff"), url(../fonts/fontawesome-webfont.ttf?v=4.3.0) format("truetype"), url(../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format("svg");
	font-weight: normal;
	font-style: normal;
}
.fa {
	line-height: 1; font-family: FontAwesome; font-size: inherit; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; font-size-adjust: none; font-stretch: normal; transform: translate(0px, 0px); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: auto;
}
.fa-lg {
	line-height: 0.75em; font-size: 1.33em; vertical-align: -15%;
}
.fa-2x {
	font-size: 2em;
}
.fa-3x {
	font-size: 3em;
}
.fa-4x {
	font-size: 4em;
}
.fa-5x {
	font-size: 5em;
}
.fa-fw {
	width: 1.28em; text-align: center;
}
.fa-ul {
	padding-left: 0; margin-left: 2.14em; list-style-type: none;
}
.fa-ul > li {
	position: relative;
}
.fa-li {
	left: -2.14em; top: 0.14em; width: 2.14em; text-align: center; position: absolute;
}
.fa-li .fa-lg {
	left: -1.85em;
}
.fa-border {
	padding: 0.2em 0.25em 0.15em; border-radius: 0.1em; border: 0.08em solid rgb(238, 238, 238); border-image: none;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.fa .pull-left {
	margin-right: 0.3em;
}
.fa .pull-right {
	margin-left: 0.3em;
}
.fa-spin {
	animation:fa-spin 2s linear infinite; -webkit-animation: fa-spin 2s infinite linear;
}
.fa-pulse {
	animation:fa-spin 1s steps(8, end) infinite; -webkit-animation: fa-spin 1s infinite steps(8);
}
.fa-rotate-90 {
	transform: rotate(90deg); -webkit-transform: rotate(90deg);
}
.fa-rotate-180 {
	transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
.fa-rotate-270 {
	transform: rotate(270deg); -webkit-transform: rotate(270deg);
}
.fa-flip-horizontal {
	transform: scale(-1, 1); -webkit-transform: scale(-1, 1);
}
.fa-flip-vertical {
	transform: scale(1, -1); -webkit-transform: scale(1, -1);
}
:root .fa-rotate-90 {
	filter: none;
}
:root .fa-rotate-180 {
	filter: none;
}
:root .fa-rotate-270 {
	filter: none;
}
:root .fa-flip-horizontal {
	filter: none;
}
:root .fa-flip-vertical {
	filter: none;
}
.fa-stack {
	width: 2em; height: 2em; line-height: 2em; vertical-align: middle; display: inline-block; position: relative;
}
.fa-stack-1x {
	left: 0; width: 100%; text-align: center; position: absolute;
}
.fa-stack-2x {
	left: 0; width: 100%; text-align: center; position: absolute;
}
.fa-stack-1x {
	line-height: inherit;
}
.fa-stack-2x {
	font-size: 2em;
}
.fa-inverse {
	color: rgb(255, 255, 255);
}
.fa-user::before {
	content: "\f007";
}
.fa-shield::before {
	content: "\f132";
}
.fa-legal::before {
	content: "\f0e3";
}
.fa-book::before {
	content: "\f02d";
}
.fa-bullhorn::before {
	content: "\f0a1";
}
.fa-cogs::before {
	content: "\f085";
}
.fa-facebook-f::before {
	content: "\f09a";
}
.fa-facebook::before {
	content: "\f09a";
}
.fa-google-plus::before {
	content: "\f0d5";
}
.fa-google::before {
	content: "\f1a0";
}



/* ############################# remove all but first blog post on moble ### */
@media screen and (max-width:380px) {
    .our-latest-blog > div:not(:first-child), .home-practise-section  {
        display:none;
    }
}
