@font-face {
	font-family: Lato;
	src: local("Lato Regular"), local("Lato-Regular"), url(http://fonts.gstatic.com/s/lato/v13/9k-RPmcnxYEPm8CNFsH2gg.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
