@import url( http://fonts.googleapis.com/css?family=Roboto );
@import url( http://fonts.googleapis.com/css?family=Lato );
body {
	font-size: 15px; background-color: rgb(247, 247, 247);
}
#displaymessage {
	text-align: center; color: rgb(255, 0, 0); padding-bottom: 10px;
}
.table-width {
	background: rgb(242, 242, 242); padding: 7px 10px !important; border: 1px solid rgb(211, 211, 211); border-image: none; width: 100%; color: rgb(93, 93, 93);
}
.Label-book {
	background: rgb(0, 0, 0); margin: 0px; padding: 10px !important; border: currentColor; border-image: none; width: 100%; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 1.1; font-family: "Roboto" , sans-serif !important; font-size: 22px !important; font-weight: 500;
}
#btn_appointment {
	margin-top: 10px;
}
.panel {
	border-radius: 4px; border: 1px solid transparent; border-image: none; width: 100%; margin-bottom: 20px; box-shadow: 0px 1px 1px rgba(0,0,0,0.05); background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-default {
	border-color: rgb(221, 221, 221); width: 60%; overflow: hidden;
}
fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor !important; border-image: none !important; min-width: 0px;
}
*::before {
	box-sizing: border-box;
}
*::after {
	box-sizing: border-box;
}
.form-group {
	margin-bottom: 15px;
}
