@font-face {
	font-family: OpenSans-Bold;
	src: url(fonts/opensans-bold-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/opensans-bold-webfont.woff) format("woff"), url(fonts/opensans-bold-webfont.ttf) format("truetype"), url(fonts/opensans-bold-webfont.svg#open_sansbold) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSans-Regular;
	src: url(fonts/opensans-regular-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/opensans-regular-webfont.woff) format("woff"), url(fonts/opensans-regular-webfont.ttf) format("truetype"), url(fonts/opensans-regular-webfont.svg#open_sansregular) format("svg");
	font-weight: normal;
	font-style: normal;
}
body {
	background: 0px 0px rgb(248, 248, 248); color: rgb(33, 33, 33); font-family: "OpenSans-Regular"; font-size: 14px;
}
.theme-container {
	width: 1200px;
}
img {
	border: currentColor; border-image: none; max-width: 100%;
}
.no-padding {
	padding-right: 0px; padding-left: 0px;
}
textarea {
	resize: vertical;
}
a:focus {
	outline-offset: 0px;
}
a {
	transition:0.3s ease-in-out; text-decoration: none; -webkit-transition: all 0.3s ease-in-out 0s;
}
a:hover {
	color: rgb(56, 156, 165); text-decoration: none;
}
a:focus {
	color: rgb(56, 156, 165); text-decoration: none;
}
a:active {
	color: rgb(56, 156, 165); text-decoration: none;
}
select {
	text-transform: capitalize;
}
.no-padding {
	padding-right: 0px; padding-left: 0px;
}
input {
	outline: 0px;
}
textarea {
	outline: 0px;
}
select {
	outline: 0px;
}
header {
	width: 100%; z-index: 9999; box-shadow: 0px 0px 2px #389ca5; -webkit-box-shadow: 0 0px 2px #389ca5; -moz-box-shadow: 0 0px 2px #389ca5;
}
.top-header {
	padding: 6px 0px 3px; background-color: rgb(28, 28, 28);
}
.callus-part {
	padding: 0px;
}
.social-part {
	padding: 0px;
}
.theme-logo {
	padding: 0px;
}
.header-navigation {
	padding: 0px;
}
.theme-logo img {
	max-height: 55px; max-width: 239px;
}
.social-part ul {
	margin: 0px; text-align: left; padding-left: 0px; display: inline-block;
}
.social-part ul li {
	margin-right: 5px; float: left; display: inline-block;
}
.social-part ul li a {
	transition:0.5s linear; color: rgb(140, 140, 140); font-size: 16px; -webkit-transition: all linear 0.5s;
}
.social-part ul li a {
	border: 1px solid rgb(78, 78, 78); transition:0.3s ease-in-out; border-image: none; width: 25px; height: 25px; text-align: center; font-size: 16px; display: block; -webkit-transition: all 0.3s ease-in-out 0s;
}
.social-part ul li a:hover {
	border-color: rgb(56, 156, 165); color: rgb(56, 156, 165);
}
.social-part ul li a:focus {
	border-color: rgb(56, 156, 165); color: rgb(56, 156, 165);
}
.top-header-email {
	margin: 0px; padding-right: 15px; float: left;
}
.top-header-email a {
	color: rgb(140, 140, 140); font-size: 13px; margin-top: 4px; margin-bottom: 4px; margin-left: 0px; display: inline-block;
}
.top-header-email > a:hover {
	color: rgb(56, 156, 165);
}
.top-header-email > a:focus {
	color: rgb(56, 156, 165);
}
.top-header-email i {
	color: rgb(140, 140, 140); font-size: 16px; margin-right: 15px;
}
.callus-part p {
	margin: 2px 0px 0px; text-align: right; color: rgb(56, 156, 165); font-family: "OpenSans-Bold"; font-size: 16px;
}
.callus-part p span {
	color: rgb(140, 140, 140); text-transform: uppercase; margin-right: 3px;
}
.bottom-header {
	padding: 15px 0px; background-color: rgb(245, 245, 245);
}
.header-navigation {
	margin-top: 10px; display: inline-block;
}
.navbar-toggle {
	margin: 0px; float: left;
}
.navbar-header span {
	background-color: rgb(56, 156, 165);
}
.theme-nav {
	width: auto; padding-right: 0px; padding-left: 0px; float: right;
}
.theme-nav ul {
	margin: 0px; padding-left: 0px;
}
.theme-nav > ul li {
	margin: 3px 2px; text-transform: uppercase; display: inline-block; position: relative;
}
.theme-nav > ul > li > a {
	padding: 8px 15px; transition:color 0.3s; color: rgb(24, 24, 24); font-family: "OpenSans-Bold"; font-size: 14px; display: inline-block; -webkit-transition: color 0.3s; -moz-transition: color 0.3s;
}
.theme-nav > ul > li > a::before {
	background: rgb(56, 156, 165); transition:0.3s; left: 0px; width: 100%; height: 2px; position: absolute; content: ""; opacity: 0; transform: translateY(-10px); -webkit-transform: translateY(-10px); -moz-transition: opacity 0.3s, -moz-transform 0.3s; -moz-transform: translateY(-10px);
}
.theme-nav > ul > li > a::after {
	background: rgb(56, 156, 165); transition:0.3s; left: 0px; width: 100%; height: 2px; position: absolute; content: ""; opacity: 0; transform: translateY(-10px); -webkit-transform: translateY(-10px); -moz-transition: opacity 0.3s, -moz-transform 0.3s; -moz-transform: translateY(-10px);
}
.theme-nav > ul > li > a::before {
	top: 0px; transform: translateY(-10px); -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px);
}
.theme-nav > ul > li > a::after {
	bottom: 0px; transform: translateY(10px); -webkit-transform: translateY(10px); -moz-transform: translateY(10px);
}
.theme-nav > ul > li > a:hover::before {
	opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px);
}
.theme-nav > ul > li > a:focus::before {
	opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px);
}
.theme-nav > ul > li > a:hover::after {
	opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px);
}
.theme-nav > ul > li > a:focus::after {
	opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px);
}
.theme-nav > ul > li.current-menu-item a::after {
	opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px);
}
.theme-nav > ul > li.current-menu-item a::before {
	opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px);
}
.theme-nav > ul > li.current-menu-item a {
	opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px);
}
.theme-nav ul ul {
	border-radius: 2px; border: 1px solid rgb(221, 221, 221); transition:0.5s ease-in-out; border-image: none; width: 100%; right: 0px; margin-top: 2px; visibility: hidden; position: absolute; z-index: 2; min-width: 165px; opacity: 0; -webkit-transition: all 0.2s ease-in-out;
}
.theme-nav ul li:hover > ul {
	visibility: visible; opacity: 1;
}
.theme-nav ul li:focus > ul {
	visibility: visible; opacity: 1;
}
.theme-nav ul ul li {
	margin: 0px; width: 100%; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 2px; border-bottom-style: solid;
}
.theme-nav ul ul li:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.theme-nav ul ul li a {
	background: rgb(245, 245, 245); padding: 10px; width: 100%; color: rgb(24, 24, 24); line-height: 16px; font-family: "OpenSans-Bold"; font-size: 12px; display: inline-block;
}
.theme-nav > ul > li > a:hover {
	color: rgb(56, 156, 165);
}
.theme-nav > ul > li > a:focus {
	color: rgb(56, 156, 165);
}
.theme-nav ul li.active > a {
	color: rgb(56, 156, 165);
}
.theme-nav ul ul li a:hover {
	color: rgb(56, 156, 165);
}
.theme-nav ul ul li a:focus {
	color: rgb(56, 156, 165);
}
.theme-nav ul ul li.active a {
	color: rgb(56, 156, 165);
}
.theme-nav ul ul ul {
	top: 0px; right: 100%; margin-top: -1px;
}
.page-footer {
	background-position: center; width: 100%; padding-top: 20px; margin-top: 40px; float: left; background-image: url("images/footer-bg.png"); background-repeat: repeat;
}
.footer-logo {
	text-align: center;
}
.footer-row {
	margin-top: 25px;
}
.footer-widget h3 {
	color: rgb(255, 255, 255); text-transform: uppercase; padding-bottom: 25px; font-family: "OpenSans-Bold"; font-size: 18px; margin-bottom: 15px; border-bottom-color: rgb(56, 156, 165); border-bottom-width: 1px; border-bottom-style: solid;
}
.footer-widget .textwidget {
	text-align: justify; color: rgb(255, 255, 255); line-height: 1.8; font-size: 13px;
}
.footer-widget p {
	text-align: justify; color: rgb(255, 255, 255); line-height: 1.8; font-size: 13px;
}
.footer-widget input[type='email'] {
	padding: 7px; border-radius: 4px; border: currentColor; transition:0.5s ease-in-out; border-image: none; width: 100%; color: rgb(34, 34, 34); background-color: rgb(229, 229, 229); -webkit-transition: all 0.5s ease-in-out 0s;
}
.footer-widget input[type='submit'] {
	padding: 8px 15px 5px; border-radius: 2px; border: currentColor; transition:0.5s ease-in-out; border-image: none; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 14px; margin-top: 10px; background-color: rgb(56, 156, 165); -webkit-transition: all 0.5s ease-in-out 0s;
}
.footer-widget input[type='submit']:hover {
	color: rgb(84, 84, 84); background-color: rgb(255, 255, 255);
}
.footer-widget input[type='submit']:focus {
	color: rgb(84, 84, 84); background-color: rgb(255, 255, 255);
}
.footer-widget ul {
	padding: 0px; text-align: justify;
}
.footer-widget li {
	list-style: none; margin-bottom: 7px;
}
.footer-widget ul li a {
	transition:0.2s ease-in-out; color: rgb(255, 255, 255); text-transform: capitalize; -webkit-transition: all 0.2s ease-in-out 0s;
}
.footer-widget ul li a:hover {
	color: rgb(56, 156, 165);
}
.footer-widget ul li a:focus {
	color: rgb(56, 156, 165);
}
.post-date > a:hover {
	color: rgb(56, 156, 165);
}
.post-date > a:focus {
	color: rgb(56, 156, 165);
}
.footer-widget ul li a::before {
	padding-right: 5px; font-family: FontAwesome; font-size: 16px; content: "\f105";
}
.footer-widget ul ul {
	padding-left: 15px;
}
.footer-widget ul ul a::before {
	content: "-";
}
.footer-bottom {
	padding: 15px 0px; width: 100%; color: rgb(229, 229, 229); margin-top: 40px; border-top-color: rgb(56, 156, 165); border-top-width: 1px; border-top-style: solid; float: left;
}
.footer-bottom p {
	margin: 0px; text-transform: capitalize; font-size: 13px; display: inline-block;
}
.footer-bottom p a {
	color: rgb(229, 229, 229);
}
.footer-bottom p:last-child {
	padding-left: 5px;
}
.footer-bottom .terms {
	text-align: right;
}
.footer-bottom .widget ul {
	margin: 0px; padding: 0px;
}
.footer-bottom .widget ul li {
	display: inline;
}
.footer-bottom .widget ul li::after {
	padding: 0px 3px 0px 4px; content: "|";
}
.footer-bottom .widget ul li:last-child::after {
	padding: 0px; content: "";
}
.footer-bottom .widget ul li a {
	color: rgb(229, 229, 229); text-transform: capitalize; font-size: 13px;
}
.footer-bottom .widget ul li a:hover {
	color: rgb(56, 156, 165);
}
.footer-bottom .widget ul li a:focus {
	color: rgb(56, 156, 165);
}
.footer-bottom a:hover {
	color: rgb(56, 156, 165);
}
.footer-bottom a:focus {
	color: rgb(56, 156, 165);
}
.footer-logo {
	margin-bottom: 15px;
}
.footer-logo a {
	padding: 0px 50px 15px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block; position: relative;
}
.footer-logo a::after {
	height: 12%; bottom: -4px; color: rgb(176, 176, 176); font-family: "FontAwesome"; font-size: 6px; position: absolute; z-index: 1; cursor: default; content: "\f111"; background-color: rgb(34, 34, 34);
}
.footer-logo a::before {
	height: 12%; bottom: -4px; color: rgb(176, 176, 176); font-family: "FontAwesome"; font-size: 6px; position: absolute; z-index: 1; cursor: default; content: "\f111"; background-color: rgb(34, 34, 34);
}
.footer-logo a::after {
	right: 50%; padding-right: 3px;
}
.footer-logo a::before {
	left: 50%; padding-left: 3px;
}
.footer-recent-post {
	width: 100%; display: inline-block;
}
.footer-widget .footer-recent-post li {
	width: 100%; border-bottom-color: rgb(79, 79, 79); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block;
}
.footer-widget .footer-recent-post li a::before {
	padding: 0px; content: "";
}
.footer-recent-img {
	width: 90px; line-height: 0; padding-bottom: 15px; margin-top: 5px; margin-right: 10px; float: left;
}
.post-date {
	width: calc(100% - 100px) !important; float: left;
}
.post-date > a {
	list-style: none; transition:0.3s ease-in-out; color: rgb(215, 215, 215); text-transform: capitalize; line-height: 1.3; margin-bottom: 12px; display: list-item; -webkit-transition: all 0.3s ease-in-out 0s;
}
.social-widget {
	width: 100%; display: inline-block;
}
.social-widget ul {
	padding: 0px; width: 100%; text-align: center; margin-top: 15px; display: inline-block;
}
.social-widget ul li {
	list-style: none; margin-right: 5px; display: inline;
}
.social-widget ul li a {
	display: inline-block;
}
.social-widget ul li a {
	border-radius: 5px; transition:0.3s ease-in-out; width: 30px; height: 30px; text-align: center; color: rgb(34, 34, 34); font-size: 22px; background-color: rgb(255, 255, 255); -webkit-transition: all ease-in-out 0.3s;
}
.social-widget ul li .facebook-icon:hover {
	color: rgb(255, 255, 255); background-color: rgb(59, 89, 152);
}
.social-widget ul li .facebook-icon:focus {
	color: rgb(255, 255, 255); background-color: rgb(59, 89, 152);
}
.social-widget ul li .twitter-icon:hover {
	color: rgb(255, 255, 255); background-color: rgb(72, 196, 210);
}
.social-widget ul li .twitter-icon:focus {
	color: rgb(255, 255, 255); background-color: rgb(72, 196, 210);
}
.site-pagination {
	width: 100%; display: inline-block;
}
.site-pagination > ul {
	margin: 0px; text-align: center; padding-left: 0px;
}
.site-pagination ul li {
	margin-right: 5px; margin-bottom: 5px; display: inline-block;
}
.site-pagination ul li a {
	padding: 7px 13px; border-radius: 1px; border: 1px solid rgb(0, 0, 0); transition:0.3s; border-image: none; text-align: center; color: rgb(0, 0, 0); text-transform: uppercase; font-family: "OpenSans-Bold"; font-size: 13px; display: inline-block; -webkit-transition: all 0.3s ease 0s;
}
.site-pagination ul li a:hover {
	border-color: rgb(56, 156, 165); color: rgb(56, 156, 165);
}
.site-pagination ul li a:focus {
	border-color: rgb(56, 156, 165); color: rgb(56, 156, 165);
}
.site-pagination ul li .active {
	border-color: rgb(56, 156, 165); color: rgb(56, 156, 165);
}
.breadcrumb-bg {
	background: 0px 0px rgb(255, 255, 255); border-top-color: rgb(215, 215, 215); border-bottom-color: rgb(215, 215, 215); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.site-breadcrumb .home-title span::after {
	background-color: rgb(255, 255, 255);
}
.site-breadcrumb .home-title span::before {
	background-color: rgb(255, 255, 255);
}
.site-breadcrumb .home-title > h2 {
	margin-top: 10px;
}
.site-breadcrumb .home-title span {
	padding-right: 128px; padding-left: 128px; font-size: 24px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.breadcrumb-menubar {
	background: 0px 0px rgba(0, 0, 0, 0); padding: 15px 5px; text-align: center; text-transform: capitalize; margin-bottom: 0px;
}
.breadcrumb-menubar > li > a {
	color: rgb(0, 0, 0);
}
.breadcrumb-menubar > li > a:hover {
	color: rgb(56, 156, 165);
}
.breadcrumb-menubar > li > a:focus {
	color: rgb(56, 156, 165);
}
.breadcrumb-menubar > li + li::before {
	padding: 0px; color: rgb(0, 0, 0);
}
.breadcrumb-menubar > .active {
	color: rgb(56, 156, 165);
}
.sidebar-box {
	background: 0px 0px rgb(255, 255, 255); border: 1px solid rgb(215, 215, 215); border-image: none;
}
.sidebar-widget {
	padding: 15px; width: 100%; display: inline-block;
}
.search-form {
	position: relative;
}
.search-form label {
	margin: 0px; width: 100%;
}
.search-form .screen-reader-text {
	display: none;
}
.search-form .search-field {
	padding: 7px 15px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 100%; font-weight: normal;
}
.search-form .search-submit {
	padding: 0px; border: currentColor; border-image: none; top: 6px; right: 17px; color: rgb(158, 158, 158); font-size: 16px; vertical-align: middle; position: absolute; background-repeat: no-repeat; background-color: rgba(0, 0, 0, 0);
}
.sidebar-widget .widget-title {
	margin: 0px -15px; padding: 0px 15px 15px; text-transform: uppercase; font-family: "OpenSans-Bold"; font-size: 16px; border-bottom-color: rgb(215, 215, 215); border-bottom-width: 1px; border-bottom-style: solid;
}
.sidebar-widget ul {
	list-style: none; padding-left: 0px;
}
.sidebar-widget ul li ul {
	padding-left: 15px; margin-top: 10px; border-top-color: rgb(89, 89, 89); border-top-width: 1px; border-top-style: dashed;
}
.sidebar-widget ul li {
	padding: 10px 0px; width: 100%; color: rgb(89, 89, 89); clear: both; border-bottom-color: rgb(89, 89, 89); border-bottom-width: 1px; border-bottom-style: dashed; display: inline-block;
}
.sidebar-widget ul li ul li:last-child {
	padding-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.sidebar-widget ul li a {
	color: rgb(89, 89, 89); text-transform: capitalize; font-size: 13px;
}
.sidebar-widget ul li a:hover {
	color: rgb(56, 156, 165);
}
.sidebar-widget ul li a:focus {
	color: rgb(56, 156, 165);
}
.tagcloud > a:hover {
	color: rgb(56, 156, 165);
}
.tagcloud > a:focus {
	color: rgb(56, 156, 165);
}
.left-tag {
	text-align: left; text-transform: capitalize; float: left;
}
.right-tag {
	text-align: right; text-transform: capitalize; float: right;
}
.tagcloud {
	text-align: left;
}
.tagcloud > a {
	margin: 13px 5px 0px 0px; color: rgb(89, 89, 89); display: inline-block;
}
.section-main {
	width: 100%; display: inline-block; position: relative;
}
.theme-banner {
	padding: 0px; margin-bottom: 75px;
}
.blur-effect {
	top: 0px; width: 100%; height: 100%; position: absolute; background-color: rgba(0, 0, 0, 0.7);
}
.banner-inner-content {
	margin: auto; left: 0px; top: 20%; text-align: center; right: 0px; display: block; position: absolute;
}
.banner-inner-content h1 {
	color: rgb(255, 255, 255); text-transform: capitalize; font-family: "OpenSans-Bold"; font-size: 48px; margin-top: 5px;
}
.banner-inner-content p {
	margin: 0px; color: rgb(255, 255, 255); text-transform: capitalize; font-family: "OpenSans-Bold"; font-size: 32px;
}
.banner-button a {
	padding: 5px; border: 1px solid rgb(255, 255, 255); transition:0.3s ease-in-out; border-image: none; color: rgb(255, 255, 255); text-transform: uppercase; font-family: "OpenSans-Bold"; font-size: 10px; display: inline-block; -webkit-transition: all ease-in-out 0.3s;
}
.banner-button a:hover {
	color: rgb(24, 24, 24); background-color: rgb(255, 255, 255);
}
.banner-button a:focus {
	color: rgb(24, 24, 24); background-color: rgb(255, 255, 255);
}
.carousel-control {
	top: 50%; width: 30px; height: 30px; bottom: 41%;
}
.carousel-control.left {
	background-position: 0px 0px; left: 10px; background-image: url("images/image-sprite.png"); background-repeat: no-repeat;
}
.carousel-control.right {
	background-position: -33px 0px; right: 10px; background-image: url("images/image-sprite.png"); background-repeat: no-repeat;
}
.theme-banner .item > img {
	width: 100%;
}
.home-practise-section {
	padding: 0px; margin-bottom: 45px;
}
.home-title {
	width: 100%; display: inline-block;
}
.home-title h2 {
	text-align: center; margin-top: 0px; margin-bottom: 0px; position: relative;
}
.home-title h2 span {
	padding: 15px 50px; text-align: center; color: rgb(0, 0, 0); text-transform: uppercase; font-family: "OpenSans-Bold"; font-size: 26px; border-top-color: rgb(56, 156, 165); border-bottom-color: rgb(176, 176, 176); border-top-width: 4px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: inline-block; position: relative;
}
.home-title span::after {
	height: 7px; bottom: -4px; color: rgb(176, 176, 176); font-family: "FontAwesome"; font-size: 6px; position: absolute; z-index: 1; content: "\f111"; background-color: rgb(248, 248, 248);
}
.home-title span::before {
	height: 7px; bottom: -4px; color: rgb(176, 176, 176); font-family: "FontAwesome"; font-size: 6px; position: absolute; z-index: 1; content: "\f111"; background-color: rgb(248, 248, 248);
}
.home-title span::after {
	padding: 0px 0px 0px 10px; left: 50%;
}
.home-title span::before {
	padding: 0px 10px 0px 0px; right: 50%;
}
.home-title p {
	margin: 30px auto 0px; width: 80%; text-align: center; color: rgb(127, 127, 127); font-size: 16px;
}
.section-column {
	margin-top: 50px;
}
.section-column .column-company .home-title h2 span {
	width: 100%; font-size: 22px; border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.section-column .column-book .home-title h2 span {
	width: 100%; font-size: 22px; border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.company-col1 {
	background-color: rgb(248, 248, 248);
}
.company-col1 ul {
	padding: 0px; width: 100%; margin-top: 20px; margin-bottom: 30px; display: inline-block;
}
.company-col1 ul li {
	list-style: none; padding: 0px; color: rgb(83, 83, 83); text-transform: capitalize; font-family: "OpenSans-Bold"; font-size: 16px; margin-top: 30px;
}
.company-col1 ul li i {
	color: rgb(153, 153, 153); font-size: 44px; margin-right: 30px; vertical-align: middle;
}
.company-col1 p {
	text-align: justify; color: rgb(33, 33, 33); line-height: 26px; font-size: 14px;
}
.column-book form {
	margin-top: 50px;
}
.column-book input {
	padding: 10px; border: 1px solid rgb(56, 156, 165); border-image: none; width: 100%; color: rgb(84, 84, 84); font-size: 14px; margin-bottom: 30px;
}
.column-book input[type=date] {
	line-height: inherit;
}
.column-book i {
	top: 10px; right: 24px; color: rgb(153, 153, 153); font-size: 24px; position: absolute;
}
.column-book input[type=submit] {
	padding: 8px 35px; transition:0.3s ease-in-out; width: auto; color: rgb(33, 33, 33); text-transform: uppercase; font-family: "OpenSans-Bold"; font-size: 16px; -webkit-transition: all ease-in-out 0.3s;
}
.column-book input[type=submit]:hover {
	color: rgb(255, 255, 255); background-color: rgb(56, 156, 165);
}
.column-book input[type=submit]:focus {
	color: rgb(255, 255, 255); background-color: rgb(56, 156, 165);
}
.column-book select {
	padding: 10px; outline: 0px; border: 1px solid rgb(56, 156, 165); border-image: none; width: 100%; color: rgb(84, 84, 84); font-size: 14px; margin-bottom: 30px;
}
.column-book textarea {
	padding: 10px; border: 1px solid rgb(56, 156, 165); border-image: none; width: 100%; color: rgb(84, 84, 84); font-size: 14px; margin-bottom: 30px; resize: vertical;
}
.home-image-section {
	background-position: center !important; margin: 0px 0px 75px; padding: 0px; background-attachment: fixed !important; background-repeat: no-repeat !important; background-size: cover !important;
}
.home-image-section .blur-effect {
	padding: 100px 0px 120px; position: static; background-color: rgba(0, 0, 0, 0.8);
}
.home-image-section h2 {
	text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; font-family: "OpenSans-Bold"; font-size: 44px;
}
.home-image-section .banner-button {
	text-align: center; margin-top: 50px;
}
.home-our-blog {
	margin: 0px; padding: 0px;
}
.our-latest-blog {
	margin-top: 60px;
}
.attorneys .our-box-left > img {
	min-height: 234px;
}
.latest-blog-img {
	background: 0px 0px rgb(255, 255, 255); border: 1px solid rgb(215, 215, 215); border-image: none; padding-bottom: 40px; margin-bottom: 40px; position: relative;
}
.post-meta ul {
	margin: 0px; padding: 10px 8px; width: 100%; border-bottom-color: rgb(215, 215, 215); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block;
}
.post-meta ul li {
	list-style: none; text-align: left; margin-right: 5px; float: left;
}
.post-meta ul li a {
	color: rgb(89, 89, 89);
}
.post-meta ul li span {
	color: rgb(89, 89, 89);
}
.post-meta ul li a:hover {
	color: rgb(56, 156, 165);
}
.post-meta ul li a:focus {
	color: rgb(56, 156, 165);
}
.latest-blog-inner .latest-blog-title {
	margin: 10px 0px 15px; color: rgb(33, 33, 33); text-transform: capitalize; font-family: "OpenSans-Bold"; font-size: 16px; display: inline-block;
}
.latest-blog-inner .latest-blog-title:hover {
	color: rgb(56, 156, 165);
}
.latest-blog-inner .latest-blog-title:focus {
	color: rgb(56, 156, 165);
}
.latest-blog-inner h3.latest-blog-title:hover {
	color: rgb(33, 33, 33);
}
.latest-blog-inner h3.latest-blog-title:focus {
	color: rgb(33, 33, 33);
}
.latest-blog-inner {
	padding: 0px 15px;
}
.latest-blog-inner p {
	text-align: justify; color: rgb(44, 44, 44); line-height: 1.8; font-size: 13px;
}
.button-div {
	width: 100%; text-align: center; bottom: -20px; display: inline-block; position: absolute;
}
.button-read {
	margin: 0px auto; padding: 10px 20px; border: 1px solid rgb(56, 156, 165); transition:0.3s ease-in-out; border-image: none; color: rgb(255, 255, 255); text-transform: uppercase; font-family: "OpenSans-Bold"; display: inline-block; background-color: rgb(56, 156, 165); -webkit-transition: all ease-in-out 0.3s;
}
.button-read:hover {
	color: rgb(84, 84, 84); background-color: rgb(255, 255, 255);
}
.button-read:focus {
	color: rgb(84, 84, 84); background-color: rgb(255, 255, 255);
}
.page-article {
	width: 100%; margin-top: 70px; margin-bottom: 25px; display: inline-block;
}
.blog-page .latest-blog-img {
	margin-bottom: 60px;
}
.blog-page :nth-child(2n+1).our-latest-box {
	clear: both;
}
.single-blog-page .latest-blog-img {
	padding-bottom: 0px;
}
.single-blog-page .latest-blog-inner p {
	margin-bottom: 20px;
}
.attorney-detail {
	margin-bottom: 35px;
}
.attorney-detail .inner-grid {
	margin-bottom: 15px;
}
.comments-article .home-title h2 span {
	padding-right: 128px; padding-left: 128px; font-size: 16px; margin-top: 10px; margin-bottom: 25px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.comments-article > ol {
	list-style: none; padding: 0px; width: 100%; display: inline-block;
}
.comment-body {
	margin-bottom: 20px; position: relative;
}
.comment-author {
	margin-bottom: 8px; display: inline-block; position: relative;
}
.comment-author {
	padding-left: 50px;
}
.comment-content {
	padding-left: 50px;
}
.comment-author .says {
	display: none;
}
.comment-author .avatar {
	padding: 2px; border: 1px solid rgba(0, 0, 0, 0.1); border-image: none; left: 0px; top: 30px; width: 34px; height: 34px; position: absolute;
}
.comment-list {
	list-style: none; padding: 0px;
}
.comment-list .children {
	list-style: none; padding-left: 20px; margin-bottom: 10px;
}
.comment-metadata {
	width: auto; padding-left: 5px; margin-bottom: 8px; display: inline-block;
}
.comment-body a {
	color: rgb(33, 33, 33);
}
.comment-body .reply {
	top: 0px; right: 5px; position: absolute;
}
.comment-author .fn {
	color: rgb(33, 33, 33); font-weight: normal;
}
.comment-body a:hover {
	color: rgb(56, 156, 165);
}
.comment-body a:focus {
	color: rgb(56, 156, 165);
}
.comment-metadata .reply a {
	text-align: right; color: rgb(33, 33, 33); float: right; display: inline-block;
}
.comment-content {
	background: 0px 0px rgb(255, 255, 255); padding: 10px; border-radius: 0px; border: 1px solid rgb(215, 215, 215); border-image: none; width: 93%; color: rgb(39, 39, 39); font-size: 13px; margin-left: 50px; display: inline-block; white-space: normal;
}
.comment-form p {
	margin-bottom: 20px;
}
.comment-form label {
	display: none;
}
.comment-form .comment-form-author input {
	background: 0px 0px rgb(255, 255, 255); padding: 10px; border: 1px solid rgb(176, 176, 176); border-image: none; width: 100%; color: rgb(39, 39, 39); font-size: 13px;
}
.comment-form .comment-form-email input {
	background: 0px 0px rgb(255, 255, 255); padding: 10px; border: 1px solid rgb(176, 176, 176); border-image: none; width: 100%; color: rgb(39, 39, 39); font-size: 13px;
}
.comment-form-url input {
	background: 0px 0px rgb(255, 255, 255); padding: 10px; border: 1px solid rgb(176, 176, 176); border-image: none; width: 100%; color: rgb(39, 39, 39); font-size: 13px;
}
.comment-form .comment-form-comment > textarea {
	background: 0px 0px rgb(255, 255, 255); padding: 10px; border: 1px solid rgb(176, 176, 176); border-image: none; width: 100%; color: rgb(106, 106, 106); font-size: 13px; margin-top: 20px; resize: vertical;
}
.comment-form-email {
	margin: auto 15px;
}
.comment-form-author {
	width: 32%; float: left;
}
.comment-form-email {
	width: 32%; float: left;
}
.comment-form-url {
	width: 32%; float: left;
}
.comment-form-comment {
	clear: both;
}
.wpcf7-form p {
	margin: 0px 0px 15px; width: 100%; display: inline-block;
}
.wpcf7-form-control-wrap input {
	background: 0px 0px rgb(255, 255, 255); padding: 10px; border: currentColor; border-image: none; width: 100%; color: rgb(39, 39, 39); font-size: 13px; box-shadow: 0px 1px 0px rgba(0,0,0,0.15);
}
.wpcf7-form-control-wrap textarea {
	background: 0px 0px rgb(255, 255, 255); padding: 10px; border: rgb(198, 198, 198); border-image: none; width: 100%; color: rgb(106, 106, 106); font-size: 13px; box-shadow: 0px 1px 0px rgba(0,0,0,0.15); resize: vertical;
}
.reply-box {
	width: 100%; margin-bottom: 30px; display: inline-block;
}
.reply-box .home-title h2 span {
	padding-right: 128px; padding-left: 128px; font-size: 16px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.get-in-touch .home-title h2 span {
	padding-right: 128px; padding-left: 128px; font-size: 16px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.reply-box .home-title h2 {
	margin-top: 0px; margin-bottom: 40px;
}
.get-in-touch .home-title h2 {
	margin-top: 0px; margin-bottom: 40px;
}
.wpcf7-form .wpcf7-submit {
	background: 0px 0px rgba(0, 0, 0, 0); padding: 8px 40px; border-radius: 2px; border: 1px solid rgb(0, 0, 0); transition:0.3s ease-in-out; border-image: none; color: rgb(0, 0, 0); text-transform: uppercase; font-family: "OpenSans-Bold"; font-size: 13px; margin-top: 20px; float: left; -webkit-transition: all 0.3s ease-in-out 0s;
}
.form-submit > input[type='submit'] {
	background: 0px 0px rgba(0, 0, 0, 0); padding: 8px 40px; border-radius: 2px; border: 1px solid rgb(0, 0, 0); transition:0.3s ease-in-out; border-image: none; color: rgb(0, 0, 0); text-transform: uppercase; font-family: "OpenSans-Bold"; font-size: 13px; margin-top: 20px; float: left; -webkit-transition: all 0.3s ease-in-out 0s;
}
.wpcf7-form .wpcf7-submit:hover {
	border-color: rgb(56, 156, 165); color: rgb(255, 255, 255); background-color: rgb(56, 156, 165);
}
.wpcf7-form .wpcf7-submit:focus {
	border-color: rgb(56, 156, 165); color: rgb(255, 255, 255); background-color: rgb(56, 156, 165);
}
.form-submit > input[type='submit']:hover {
	border-color: rgb(56, 156, 165); color: rgb(255, 255, 255); background-color: rgb(56, 156, 165);
}
.form-submit > input[type='submit']:focus {
	border-color: rgb(56, 156, 165); color: rgb(255, 255, 255); background-color: rgb(56, 156, 165);
}
.column-book input[type='button']:hover {
	border-color: rgb(56, 156, 165); color: rgb(255, 255, 255); background-color: rgb(56, 156, 165);
}
.column-book input[type='button']:focus {
	border-color: rgb(56, 156, 165); color: rgb(255, 255, 255); background-color: rgb(56, 156, 165);
}
.contact-us .home-title span {
	padding-top: 0px;
}
.get-in-touch > iframe {
	width: 100%; height: 230px;
}
.get-in-touch > p {
	margin: 20px auto; color: rgb(106, 106, 106); font-size: 13px;
}
.get-in-touch > ul {
	padding-left: 0px;
}
.get-in-touch > ul li {
	list-style: none; padding-bottom: 5px;
}
.get-in-touch > ul li span {
	color: rgb(106, 106, 106); margin-right: 5px;
}
.column-book input[type='text'] {
	background: rgb(255, 255, 255); padding: 10px; border: 1px solid rgb(56, 156, 165); border-image: none; width: 47%; color: rgb(84, 84, 84); font-size: 14px; margin-bottom: 30px; float: left;
}
.column-book select {
	padding: 10px; outline: 0px; border: 1px solid rgb(56, 156, 165); border-image: none; width: 100%; color: rgb(84, 84, 84); font-size: 14px; margin-bottom: 30px;
}
.column-book textarea {
	background: rgb(255, 255, 255); padding: 10px; border: 1px solid rgb(56, 156, 165); border-image: none; width: 100%; color: rgb(84, 84, 84); font-size: 14px; margin-bottom: 30px; resize: vertical;
}
.column-book input[type=button] {
	background: 0px 0px rgb(255, 255, 255); padding: 8px 35px; border: 1px solid rgb(56, 156, 165); transition:0.3s ease-in-out; border-image: none; width: auto; color: rgb(33, 33, 33); text-transform: uppercase; font-family: "OpenSans-Bold"; font-size: 16px; -webkit-transition: all ease-in-out 0.3s;
}
.column-book .row {
	margin: 0px;
}
.column-book .panel {
	padding: 0px; border-radius: 0px; border: currentColor; border-image: none; width: 100%; box-shadow: none; background-color: rgba(0, 0, 0, 0);
}
.column-book .panel-body {
	padding: 0px;
}
.column-book .form-group {
	margin-bottom: 0px;
}
#appointment_email {
	margin-left: 17px;
}
#datetime {
	margin-left: 17px;
}
#appointment_name {
	margin-right: 17px;
}
#appointment_phone {
	margin-right: 17px;
}
.our-latest-blog :nth-child(3n+1).our-latest-box {
	clear: both;
}
.Label-book {
	background: url("images/form-border.png") no-repeat bottom; color: rgb(18, 0, 0); line-height: 1.8; padding-top: 8px !important; font-family: "OpenSans-Bold" !important; margin-top: 0px !important;
}
.column-book form {
	margin-top: 20px;
}
#displaymessage {
	color: rgb(68, 157, 68); font-size: 20px; margin-top: 20px;
}
.masonry-container .our-latest-box {
	padding: 0px;
}
dt {
	margin-bottom: 15px;
}
dd {
	margin-bottom: 15px;
}
td {
	padding: 5px 0px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
th {
	padding: 5px 0px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
td {
	color: rgb(0, 0, 0);
}
th a {
	color: rgb(0, 0, 0);
}
.comments-box {
	padding: 0px;
}
.current-menu-item > a {
	color: rgb(56, 156, 165) !important;
}
.wp-caption-text {
	margin-top: 10px;
}
.wp-caption-text a:hover {
	color: rgb(255, 255, 255);
}
.sticky .entry-date {
	display: none;
}
.bypostauthor {
	
}
.breadcrumb.breadcrumb-menubar li > a {
	padding: 0px 5px;
}
.main-sidebar .tagcloud {
	text-align: left;
}
.main-sidebar .tagcloud > a {
	margin: 13px 5px 0px 0px; padding: 5px; border: 1px solid rgb(23, 156, 164); border-image: none; color: rgb(89, 89, 89); font-size: 15px !important; display: inline-block;
}
.footer-widget .tagcloud > a {
	padding: 5px; border: 1px solid rgb(23, 156, 164); border-image: none; color: rgb(255, 255, 255); font-size: 15px !important;
}
.tagcloud > a:hover {
	color: rgb(23, 156, 164);
}
.main-sidebar table {
	width: 100%; border-collapse: separate; border-spacing: 0;
}
.main-sidebar table th {
	color: rgb(0, 0, 0);
}
.footer-widget table {
	width: 100%; border-collapse: separate; border-spacing: 0;
}
.footer-widget table a {
	color: rgb(23, 156, 164);
}
.footer-widget caption {
	text-align: center; color: rgb(255, 255, 255);
}
.main-sidebar select {
	padding: 4px; width: 100%;
}
.footer-widget select {
	padding: 4px; width: 100%; color: rgb(0, 0, 0);
}
.footer-widget ul li {
	color: rgb(255, 255, 255);
}
.footer-widget ul li a {
	color: rgb(255, 255, 255);
}
.main-sidebar img {
	height: auto; max-width: 100%;
}
.main-sidebar caption {
	text-align: center;
}
.sidebar-box .widget_calendar td {
	color: rgb(0, 0, 0);
}
.widget_calendar th {
	color: rgb(0, 0, 0);
}
.footer-widget .widget_calendar td {
	text-align: center; color: rgb(255, 255, 255);
}
.widget_calendar th {
	text-align: center; color: rgb(255, 255, 255);
}
.gallery {
	margin-bottom: 20px;
}
.gallery-item {
	margin: 0px 4px 4px 0px; overflow: hidden; float: left; position: relative;
}
.gallery-columns-1 .gallery-item {
	max-width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: calc(50% - 4px);
}
.gallery-columns-3 .gallery-item {
	max-width: calc(33.3% - 4px);
}
.gallery-columns-4 .gallery-item {
	max-width: calc(25% - 4px);
}
.gallery-columns-5 .gallery-item {
	max-width: calc(20% - 4px);
}
.gallery-columns-6 .gallery-item {
	max-width: calc(16.7% - 4px);
}
.gallery-columns-7 .gallery-item {
	max-width: calc(14.28% - 4px);
}
.gallery-columns-8 .gallery-item {
	max-width: calc(12.5% - 4px);
}
.gallery-columns-9 .gallery-item {
	max-width: calc(11.1% - 4px);
}
.gallery-columns-1 :nth-of-type(n).gallery-item {
	margin-right: 0px;
}
.gallery-columns-2 :nth-of-type(2n).gallery-item {
	margin-right: 0px;
}
.gallery-columns-3 :nth-of-type(3n).gallery-item {
	margin-right: 0px;
}
.gallery-columns-4 :nth-of-type(4n).gallery-item {
	margin-right: 0px;
}
.gallery-columns-5 :nth-of-type(5n).gallery-item {
	margin-right: 0px;
}
.gallery-columns-6 :nth-of-type(6n).gallery-item {
	margin-right: 0px;
}
.gallery-columns-7 :nth-of-type(7n).gallery-item {
	margin-right: 0px;
}
.gallery-columns-8 :nth-of-type(8n).gallery-item {
	margin-right: 0px;
}
.gallery-columns-9 :nth-of-type(9n).gallery-item {
	margin-right: 0px;
}
.gallery-columns-1.gallery-size-medium figure:nth-of-type(n+1).gallery-item {
	clear: left;
}
.gallery-columns-1.gallery-size-thumbnail figure:nth-of-type(n+1).gallery-item {
	clear: left;
}
.gallery-columns-2.gallery-size-thumbnail figure:nth-of-type(2n+1).gallery-item {
	clear: left;
}
.gallery-columns-3.gallery-size-thumbnail figure:nth-of-type(3n+1).gallery-item {
	clear: left;
}
.gallery-caption {
	padding: 6px 8px; left: 0px; width: 100%; text-align: left; bottom: 0px; color: rgb(255, 255, 255); line-height: 1.5; font-size: 12px; position: absolute; max-height: 50%; box-sizing: border-box; opacity: 0; background-color: rgba(0, 0, 0, 0.7); -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.gallery-caption::before {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; min-height: 49px; content: "";
}
.gallery-item:hover .gallery-caption {
	opacity: 1;
}
.gallery-columns-7 .gallery-caption {
	display: none;
}
.gallery-columns-8 .gallery-caption {
	display: none;
}
.gallery-columns-9 .gallery-caption {
	display: none;
}
img {
	height: auto;
}
table {
	width: 100%; text-align: center;
}
.post-meta {
	text-align: center;
}
.alignleft {
	float: left; display: inline;
}
blockquote.alignleft {
	margin: 0.42em 1.68em 1.68em 0px;
}
.wp-caption.alignleft {
	margin: 0.42em 1.68em 1.68em 0px;
}
img.alignleft {
	margin: 0.42em 1.68em 1.68em 0px;
}
blockquote.alignright {
	margin: 0.42em 0px 1.68em 1.68em;
}
.wp-caption.alignright {
	margin: 0.42em 0px 1.68em 1.68em;
}
img.alignright {
	margin: 0.42em 0px 1.68em 1.68em;
}
.alignright {
	float: right; display: inline;
}
.wp-caption.alignleft {
	margin-bottom: 1.26em;
}
.wp-caption.alignright {
	margin-bottom: 1.26em;
}
.wp-caption.aligncenter {
	margin-bottom: 1.26em;
}
.aligncenter {
	margin-right: auto; margin-left: auto; display: block;
}
.wp-caption {
	padding: 10px 10px 2px; text-align: center; color: rgb(255, 255, 255); margin-bottom: 1.6em; max-width: 100%; background-color: rgb(23, 156, 164);
}
.wp-caption .wp-caption-text {
	text-align: center; color: rgb(255, 255, 255);
}
.wp-caption .wp-caption-text a {
	color: rgb(0, 0, 0);
}
.wp-caption th {
	color: rgb(0, 0, 0);
}
.wp-caption {
	margin-bottom: 1.68em;
}
.gallery {
	margin-bottom: 1.68em;
}
iframe {
	max-width: 100%;
}
embed {
	max-width: 100%;
}
.custom-header-img {
	width: 100%; text-align: center;
}
.carousel-inner .fa {
	color: rgb(255, 255, 255); font-size: 100px;
}
.company-col1 .fa {
	color: rgb(23, 156, 164);
}
.social-widget ul li .twitter-icon:hover {
	background-color: rgb(23, 156, 164) !important;
}
.social-widget ul li .twitter-icon:focus {
	background-color: rgb(23, 156, 164) !important;
}
.sidebar-widget > h3 {
	margin: 0px -31px; padding: 0px 15px 15px; text-transform: uppercase; font-family: "OpenSans-Bold"; font-size: 16px; border-bottom-color: rgb(215, 215, 215); border-bottom-width: 1px; border-bottom-style: solid;
}
.site-pagination .screen-reader-text {
	display: none;
}
.footer-logo > a {
	color: rgb(23, 156, 164); text-transform: uppercase; font-size: 31px; font-weight: 600;
}
.col-md-3.theme-logo > a {
	text-transform: capitalize; font-size: 35px;
}
.sidebar-widget .post-date > a {
	text-align: left; margin-bottom: 8px;
}
.footer-widget .post-date > a {
	text-align: left; margin-bottom: 2px;
}
.comment-reply-title {
	text-align: center; color: rgb(0, 0, 0); text-transform: uppercase; padding-bottom: 10px; font-family: "OpenSans-Bold"; font-size: 17px; font-weight: bold; border-bottom-color: rgb(176, 176, 176); border-bottom-width: 1px; border-bottom-style: solid;
}
.comment-list .comment-content p {
	margin: 0px;
}
.sidebar-widget .searchform .screen-reader-text {
	display: none;
}
.footer-widget .search-form input[type='submit'] {
	padding: 0px; border: currentColor; border-image: none; top: 0px; width: 19px; height: 21px; right: 10px; text-indent: -500px; position: absolute; background-image: url("images/search.png"); background-repeat: no-repeat; background-color: transparent;
}
.sidebar-widget .search-form input[type='submit'] {
	padding: 0px; border: currentColor; border-image: none; top: 10px; width: 19px; height: 21px; right: 10px; text-indent: -500px; position: absolute; background-image: url("images/search.png"); background-repeat: no-repeat; background-color: transparent;
}
.searchform {
	position: relative;
}
.sidebar-widget .searchform input[type='text'] {
	padding: 7px 15px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 100%; font-weight: normal;
}
.searchform input[type='text'] {
	padding: 7px 15px; border: 1px solid rgb(221, 221, 221); border-image: none; font-weight: normal;
}
.searchform input[type='submit'] {
	padding: 7px 12px; border: currentColor; border-image: none; color: rgb(255, 255, 255); text-transform: capitalize; font-weight: bold; background-color: rgb(23, 156, 164);
}
.search-formmain .search-field {
	padding: 7px 15px; border: 1px solid rgb(221, 221, 221); border-image: none; width: auto !important; font-weight: normal;
}
.search-formmain .search-submit {
	padding: 6px; left: 207px; top: 0px; color: rgb(255, 255, 255); position: absolute; background-color: rgb(23, 156, 164);
}
.page-numbers {
	padding: 7px 13px; border: 1px solid rgb(0, 0, 0); transition:0.3s ease-in-out; border-image: none; text-align: center; color: rgb(0, 0, 0); font-family: "OpenSans-Bold"; font-size: 13px; display: inline-block; -webkit-transition: all 0.3s ease-in-out 0s;
}
.page-numbers.current {
	border: 1px solid rgb(56, 156, 165); border-image: none; color: rgb(56, 156, 165);
}
.nav-links a.page-numbers:hover {
	border-color: rgb(23, 156, 164); color: rgb(23, 156, 164);
}
.nav-links a.page-numbers:focus {
	border-color: rgb(23, 156, 164); color: rgb(23, 156, 164);
}
.post-navigation .page-numbers:hover {
	border-color: rgb(23, 156, 164); color: rgb(23, 156, 164);
}
.post-navigation .page-numbers:focus {
	border-color: rgb(23, 156, 164); color: rgb(23, 156, 164);
}
.next.page-numbers {
	text-transform: uppercase;
}
.prev.page-numbers {
	text-transform: uppercase;
}
.nav-previous {
	margin-bottom: 15px; float: left;
}
.nav-next {
	margin-bottom: 15px; float: right;
}
.page-links {
	margin-bottom: 25px;
}
.page-links a {
	padding: 7px 13px; border: 1px solid rgb(0, 0, 0); border-image: none; text-align: center; color: rgb(0, 0, 0); font-family: "OpenSans-Bold"; font-size: 13px;
}
.page-links > span {
	padding: 7px 13px; border: 1px solid rgb(23, 156, 164); border-image: none; text-align: center; color: rgb(23, 156, 164); font-family: "OpenSans-Bold"; font-size: 13px;
}
.page-links-title {
	border: currentColor !important; border-image: none !important;
}
.inner-grid .img-responsive {
	width: 100%;
}
.no-img {
	width: 100%; max-height: 247px;
}
.site-pagination .pagination {
	margin: 0px 0px 20px;
}
.button-div {
	left: 0px;
}
.logged-in-as a {
	color: rgb(23, 156, 164);
}
.spage {
	padding-top: 10px;
}
.theme-logo img {
	display: inline-block;
}
@media screen and (max-width:1200px)
{
.theme-container {
	width: 100%;
}
}
@media all and (max-width:1199px) and (min-width:1025px)
{
.banner-inner-content h1 {
	font-size: 30px;
}
}
@media all and (max-width:1024px) and (min-width:981px)
{
.comment-form-email {
	margin: auto 13px;
}
.home-title h2 span {
	padding: 15px 40px;
}
.get-in-touch .home-title h2 span {
	padding-right: 95px; padding-left: 95px;
}
.banner-inner-content h1 {
	font-size: 30px;
}
#appointment_name {
	margin-right: 14px;
}
#appointment_phone {
	margin-right: 14px;
}
#appointment_email {
	margin-left: 14px;
}
#datetime {
	margin-left: 14px;
}
}
@media all and (max-width:980px) and (min-width:768px)
{
.home-title h2 span {
	padding: 15px 0px;
}
.bottom-header {
	text-align: center;
}
.banner-inner-content {
	top: 10%;
}
.banner-inner-content h1 {
	font-size: 28px;
}
.banner-inner-content p {
	margin: 10px 0px 30px; font-size: 26px;
}
.our-box-left > img {
	width: 100%;
}
.header-navigation {
	margin-top: 25px;
}
.comment-img {
	padding: 0px;
}
.reply-box .home-title h2 {
	margin-bottom: 20px;
}
.comment-form-author {
	margin: 0px; width: 100%; float: none;
}
.comment-form-email {
	margin: 0px; width: 100%; float: none;
}
.comment-form-url {
	margin: 0px; width: 100%; float: none;
}
.wpcf7-form-control-wrap {
	width: 100%; display: inline-block;
}
.wpcf7-form-control-wrap input {
	margin-top: 20px;
}
.get-in-touch .home-title h2 span {
	padding-right: 53px; padding-left: 53px;
}
:nth-child(2n+1).our-latest-box {
	clear: both;
}
:nth-child(2n+1).attorneys {
	clear: both;
}
.comment-author .avatar {
	top: 5px;
}
.comment-content {
	width: 100%; margin-left: 0px;
}
.comment-metadata {
	padding-left: 50px; display: block;
}
.column-book input[type='text'] {
	width: 100%;
}
#appointment_name {
	margin-right: 0px;
}
#appointment_phone {
	margin-right: 0px;
}
#appointment_email {
	margin-left: 0px;
}
#datetime {
	margin-left: 0px;
}
.our-latest-blog :nth-child(3n+1).our-latest-box {
	clear: none;
}
.our-latest-blog :nth-child(2n+1).our-latest-box {
	clear: both;
}
}
@media all and (max-width:767px)
{
.page-article {
	margin-top: 50px; margin-bottom: 0px;
}
.home-image-section .blur-effect {
	padding: 50px 0px 60px;
}
.home-image-section h2 {
	font-size: 26px;
}
.theme-banner {
	margin-bottom: 50px;
}
.home-image-section {
	margin-bottom: 50px;
}
.section-column {
	margin-top: 30px;
}
.our-section-list {
	margin-top: 30px;
}
.home-practise-section {
	margin-bottom: 20px;
}
.home-our-section {
	margin-bottom: 20px;
}
.home-our-blog {
	margin-bottom: 30px;
}
.comment-author .avatar {
	top: 5px;
}
.comment-content {
	width: 100%; margin-left: 0px;
}
.comment-metadata {
	padding-left: 50px; display: block;
}
.home-title h2 span {
	font-size: 20px;
}
.section-column .column-company .home-title h2 span {
	font-size: 20px;
}
.section-column .column-book .home-title h2 span {
	font-size: 20px;
}
.header-navigation {
	float: left;
}
.theme-nav {
	width: 100%; margin-top: 0px; border-top-color: rgb(176, 176, 176); border-top-width: 1px; border-top-style: solid;
}
.navbar-collapse.in {
	overflow: hidden;
}
.theme-nav > ul {
	width: 100%; float: left;
}
.theme-nav > ul li {
	width: 98%; float: left; display: inherit;
}
.theme-nav > ul li a {
	width: 98%; float: left; display: inherit;
}
.theme-nav > ul li a {
	background: none; border: currentColor; border-image: none;
}
.theme-nav > ul > li > a:hover {
	background: none;
}
.theme-nav > ul > li > a:focus {
	background: none;
}
.theme-nav > ul > li.current-menu-item > a {
	background: none;
}
.theme-nav ul ul {
	border: currentColor; border-image: none; left: auto; top: 0px; width: 100%; padding-left: 20px; margin-top: 0px; float: left; visibility: visible; position: relative; opacity: 1;
}
.theme-nav ul ul ul {
	right: auto;
}
.theme-nav ul ul li {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.theme-nav > ul > li > a::before {
	background: none;
}
.theme-nav > ul > li > a::after {
	background: none;
}
.callus-part {
	text-align: center; float: none;
}
.social-part {
	text-align: center; float: none;
}
.top-header-email {
	text-align: center; float: none;
}
.callus-part p {
	text-align: center; float: none;
}
.theme-logo {
	text-align: center; float: none;
}
.footer-bottom .terms {
	text-align: center; float: none;
}
.footer-bottom {
	text-align: center; float: none;
}
.footer-bottom .terms {
	margin-top: 10px;
}
.social-part ul li {
	margin-top: 5px;
}
.social-part ul {
	padding-left: 0px;
}
.callus-part p {
	margin: 0px 0px 10px;
}
.banner-button a {
	padding: 2px 3px;
}
.site-pagination {
	margin-bottom: 10px;
}
.comments-article li > ul {
	padding-left: 15px;
}
.comment-img {
	padding: 0px;
}
.wpcf7-form-control-wrap {
	width: 100%; display: inline-block;
}
.reply-box .home-title h2 {
	margin-bottom: 20px;
}
.wpcf7-form-control-wrap input {
	margin-top: 20px;
}
.comment-form-author {
	margin: 0px; width: 100%; float: none;
}
.comment-form-email {
	margin: 0px; width: 100%; float: none;
}
.comment-form-url {
	margin: 0px; width: 100%; float: none;
}
.comments-article .home-title h2 span {
	padding-right: 5px; padding-left: 5px; font-size: 20px;
}
.reply-box .home-title h2 span {
	padding-right: 5px; padding-left: 5px; font-size: 20px;
}
.get-in-touch .home-title h2 span {
	padding-right: 5px; padding-left: 5px; font-size: 20px;
}
.site-breadcrumb .home-title span {
	padding-right: 5px; padding-left: 5px; font-size: 20px;
}
.our-section-box {
	margin-bottom: 30px;
}
.our-box-left img {
	margin: 0px auto;
}
.gallarey-container {
	padding: 0px;
}
.column-book input[type='text'] {
	width: 100%;
}
#appointment_name {
	margin-right: 0px;
}
#appointment_phone {
	margin-right: 0px;
}
#appointment_email {
	margin-left: 0px;
}
#datetime {
	margin-left: 0px;
}
.footer-logo a {
	padding: 0px 0px 15px;
}
}
@media all and (max-width:767px) and (min-width:568px)
{
:nth-child(2n+1).attorneys {
	clear: both;
}
.attorneys {
	width: 50%; float: left;
}
.our-box-right p {
	text-align: justify;
}
.footer-logo a::after {
	bottom: -5px;
}
.footer-logo a::before {
	bottom: -5px;
}
.company-col1 ul li {
	width: 50%; float: left;
}
.company-col1 ul li i {
	width: 16%; margin-left: 5px; float: left;
}
.company-col1 ul li span {
	width: 70%; float: left;
}
.company-col1 ul li:nth-child(2n+1) {
	clear: both;
}
}
@media all and (max-width:767px) and (min-width:481px)
{
.banner-inner-content {
	top: 10%;
}
.banner-inner-content h1 {
	font-size: 20px;
}
.banner-inner-content p {
	margin: 10px 0px; font-size: 16px;
}
.banner-button a {
	font-size: 14px;
}
.carousel-inner .fa {
	font-size: 60px;
}
}
@media all and (max-width:480px) and (min-width:380px)
{
.footer-logo a::after {
	bottom: -5px;
}
.footer-logo a::before {
	bottom: -5px;
}
}
@media screen and (max-width:568px)
{
.banner-inner-content {
	margin: 0px 152px; top: 6%;
}
.carousel-control {
	top: 38%;
}
}
@media screen and (max-width:480px)
{
.inner-grid img {
	margin: 0px auto;
}
.banner-inner-content {
	display: none;
}
}
@media screen and (max-width:380px)
{
.home-page .home-title h2 span {
	padding: 15px 0px;
}
.our-firm .home-title h2 span {
	padding: 15px 0px;
}
.our-firm-tabs > li {
	float: none;
}
}
@media screen and (max-width:320px)
{
.footer-logo a::after {
	bottom: -4px;
}
.footer-logo a::before {
	bottom: -4px;
}
}
@media all and (max-width:767px) and (min-width:685px)
{
.section-column .column-company .home-title h2 span {
	width: 570px;
}
}
